/* Variables */

$main-header-bg: #fff;
$main-header-font-color: #444;
$main-header-font-size: inherit;
$main-header-line-height: 1.3rem;

$main-header-logo-font-size: 1.8rem;
$main-header-logo-line-height: 2.1rem;
$main-header-logo-font-family: 'Aref Ruqaa', Arial, serif;
$main-header-logo-font-color: inherit;

/* Styles */

.main-header {
  position: fixed;
  z-index: 2;
  top: 0;

  display: flex;

  box-sizing: border-box;
  width: 100%;
  padding: 0 15px;

  color: $main-header-font-color;
  background-color: $main-header-bg;
  box-shadow: 0 0 0 1px $main-header-font-color, 0 1px 2px 0 $main-header-font-color;

  font-size: $main-header-font-size;
  line-height: $main-header-line-height;

  justify-content: space-between;
  align-items: center;

  .main-header-logo {
    padding: 3px 10px 10px;

    text-decoration: none;

    color: $main-header-logo-font-color;

    font-family: $main-header-logo-font-family;
    font-size: $main-header-logo-font-size;
    line-height: $main-header-logo-line-height;

    flex-grow: 1;
    flex-basis: 50%;

    & a {
      text-decoration: none;

      color: $main-header-logo-font-color;
    }
  }

  .auth-wrapper {
    display: flex;

    text-align: right;

    flex-grow: 1;
    flex-basis: 50%;
    justify-content: flex-end;
    align-items: center;
  }
}
