/* Variables */

$auth-button-font-size: inherit;
$auth-button-line-height: 1.3rem;
$auth-button-font-color: #444;
$auth-button-bg: transparent;

/* Styles */

.auth-button {
  padding: 0 .5rem;

  text-decoration: none;

  color: $auth-button-font-color;
  background-color: $auth-button-bg;

  font-size: $auth-button-font-size;
  line-height: $auth-button-line-height;

  &:hover {
    color: green;
  }
}

.user-button {
  // display: none;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0 1rem;
}
