/* Variables */

$auth-modal-bg: #fff;
$auth-modal-font-color: #444;
$auth-modal-font-size: inherit;
$auth-modal-line-height: 1.3rem;

/* Styles */

.modal-wrapper {
  position: absolute;
  z-index: 2;
  top: 20%;
  right: 1.5rem;
  left: 1.5rem;

  box-sizing: border-box;
  padding: 1rem;

  color: $auth-modal-font-color;
  background-color: $auth-modal-bg;
  box-shadow: 0 0 0 1px $auth-modal-font-color, 0 0 6px 0 $auth-modal-font-color;

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 786px) {
  .modal-wrapper {
    top: 20%;
    left: 30%;

    width: 40%;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .modal-wrapper {
    top: 20%;
    left: 35%;

    width: 30%;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .modal-wrapper {
    top: 20%;
    left: 40%;

    width: 20%;
  }
}
