@import '../node_modules/normalize.css/normalize.css';

/* Variables */

$font-size: 16px;
$line-heiht: 1.3rem;
$bg: #fff;
$font-family: 'PT Sans', Arial, sans-serif;

body {
  margin: 0;
  padding: 0;

  background-color: $bg;

  font-family: $font-family;
  font-size: $font-size;
  font-weight: normal;
  line-height: $line-heiht;
}

.content {
  margin-top: 4rem;
}

/* Imports components */
@import 'app/components/mainHeader/mainHeader';
@import 'app/components/auth/authButton/authButton';
@import 'app/components/auth/authModal/authModal';
@import 'app/components/auth/login/login';
@import 'app/components/auth/registrate/registrate';


/* Imports pages */
@import 'app/pages/list/list';
@import 'app/pages/product/product';

/* Import modules */
@import 'app/modules/cart/components/cartButton/cartButton';
@import 'app/modules/cart/components/addCartButton/addCartButton';
@import 'app/modules/cart/pages/cart/cart/';
